<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30" status="debug" packages="com.motorola.automation.log.logwrapper">
	<Properties>
	    <Property name="logFileName">logs/automoto.log</Property>
	    <Property name="logFileNamePattern">logs/${date:yyyy-MM}/${ctx:ROUTINGKEY}-automoto-%d{yyyy-MM-dd}-%i.log.gz</Property>
	    <Property name="logPattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
	    <Property name="logFileSize">10 MB</Property>
	    <Property name="logFileCount">10</Property>
	</Properties>
	
	<Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>

    <Appenders>
	    <Routing name="contextSpecificAppender">
	        <Routes pattern="$${ctx:ROUTINGKEY}">
	            <Route>
	            	<MotoCustomAppender name="Rolling-${ctx:ROUTINGKEY}">
				    	<PatternLayout pattern="${logPattern}"/>
				    </MotoCustomAppender>
	            </Route>
	        </Routes>
	    </Routing>
	</Appenders>
	
	<Loggers>
	    <Root level="trace">
	        <AppenderRef ref="contextSpecificAppender" level="all">
	            <ThreadContextMapFilter onMatch="DENY" onMismatch="ACCEPT">
	                <KeyValuePair key="ROUTINGKEY" value="" />
	            </ThreadContextMapFilter>
	        </AppenderRef>
	        <AppenderRef ref="Console"/>
	    </Root>
	</Loggers>
</Configuration>